<div class="tabs-panel" id="box-{{id}}" role="tabpanel" aria-hidden="true" aria-labelledby="box-{{id}}-label">
	<a href="http://localhost:4000/api/v1/users/1/boxes/{{id}}" class="ajax-click box-remove" data-method="DELETE">Remove</a>
  	<p>Recipes for box {{id}} which is called {{name}}.</p>
</div>