<tr data-ingredient-id="{{id}}">
	<td>{{quantity}}</td>
	<td>{{unit}}</td>
	<td>{{modifier}}</td>
	<td>{{ingredient}}</td>
	<td>{{treatment}}</td>
	<td><button type="button">Remove</button></td>
</tr>