<li class="tabs-title" role="presentation" data-section-id="{{id}}">
	<a href="#section-{{id}}" aria-selected="false" role="tab" aria-controls="section-{{id}}" id="section-{{id}}-label">{{name}}</a>
</li>